@font-face {
	font-family: 'Museo Sans Cyrl 300';
	font-display: swap;
	src: url('MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
		url('MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('MuseoSansCyrl-300.woff') format('woff'),
		url('MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}