.advantages {
    min-height: 473px;
    padding: 72px 0 79px 0;
    &_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        &_item {
            width: 245px;
            div {
                margin: 0 auto;
                text-align: center;
                margin-top: 20px;
                span {
                    text-decoration: underline;
                    color: $my-red;
                }
            }
            img {
                display: block;
                margin: 0 auto;
            }
            &_title {
                display: block;
                text-align: center;
                font-size: 18px;
                color: black;
                margin-top: 38px;
                font-weight: 700;
            }
            
        }
    }
}
